<!DOCTYPE html>
<html>
<head>
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Contact</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <div class="container">
        <h2>Let's Connect</h2>
        <p>Email: devipujari237@gmail.com</p>
        <p>GitHub: <a href="https://github.com/PUJARISRIDURGADEVI/internship" target="_blank">github.com/yourusername</a></p>
        <p>LinkedIn: <a href="www.linkedin.com/in/devi-pujari-368142289" target="_blank">linkedin.com/in/yourusername</a></p>
    </div>

    <footer>&copy; 2025 Your Name</footer>
</body>
</html>
